<div class="row">
  <div class="col">
    <h1><%= t('.header', product_title: @product.title) %></h1>

    <% if @product.property? %>
      <%= link_to t('.back_to_properties'), admin_properties_path %>

      <%= render 'admin/properties/tabs' %>
    <% else %>
      <%= link_to t('.back'), edit_admin_product_path(@product) %>
    <% end %>

    <h3><%= t('.upload_images') %></h3>
    <p><%= t('.upload_instructions') %></p>
    <%= form_with(url: admin_product_product_images_path(@product), data: { controller: 'dropzone', target: 'dropzone.form' }) do |f| %>
      <div class="fallback">
        <%= f.file_field :image, multiple: true %>
      </div>
    <% end %>

    <% if @product_images.any? %>
      <% @product_images.each do |image| %>
        <div class="product_image">
          <%= image_tag image.thumb.url, class: 'img-fluid' %>
          <%= link_to t('.delete'), admin_product_product_image_path(@product, image), method: :delete, data: { confirm: t('.delete_confirm') }, class: 'btn btn-danger product_image__delete' %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-warning">
        <%= t('.no_images') %>
      </div>
    <% end %>
  </div>
</div>
