<div class="row">
  <div class="col">
    <h1><%= t('.header', product_title: @product.title) %></h1>
    <%= link_to t('.back'), edit_admin_product_path(@product) %>

    <h3><%= t('.upload_images') %></h3>
    <%= form_with(url: admin_product_product_images_path(@product), data: { controller: 'dropzone', target: 'dropzone.form' }) do |f| %>
      <div class="fallback">
        <%= f.file_field :image, multiple: true %>
      </div>
    <% end %>

    <% @product_images.each do |image| %>
      <div class="product_image">
        <%= image_tag image.thumb.url, class: 'img-fluid' %>
        <%= link_to t('.delete'), admin_product_product_image_path(@product, image), method: :delete, data: { confirm: t('.delete_confirm') }, class: 'btn btn-danger product_image__delete' %>
      </div>
    <% end %>
  </div>
</div>
