<% content_for :hero do %>
  <div class="row landing__jumbotron jumbotron justify-content-center">
    <div class="container">
      <h1 class="display-4 landing__headline"><%= t('.header') %></h1>

      <form>
        <div class="form-row align-items-center">
          <div class="col-lg-4">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <i class="input-group-text fa fa-search bg-white"></i>
              </div>
              <input type="text" class="form-control border-left-0" placeholder="<%= t('.search_placeholder') %>">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group input-group-lg">
              <input data-controller="date-range-picker" data-target="date-range-picker.input" class="form-control border-right-0" placeholder="<%= t('.date_from_placeholder') %>">
              <div class="input-group-append">
                <i class="input-group-text bg-white fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <input type="submit" value="<%= t('.search') %>" class="btn btn-primary btn-lg btn-block text-uppercase"/>
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>

<div class="row bg-info">
  <div class="landing__container p-5">
    <div class="row">
      <% 1.upto(3) do |i| %>
        <div class="col-lg-4">
          <div class="landing__info-image landing__info<%= i %>-image"></div>
          <h4 class="text-uppercase mb-3 mt-3 text-center"><%= t(".detail_header#{i}") %></h4>
          <p><%= t(".detail_paragraph#{i}") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="landing__container">
  <%= render partial: 'shared/products_spacer', locals: { header: t('.our_picks'), products: @picks } %>
</div>

<div class="landing__container">
  <%= render 'shared/newsletter' %>
</div>

<div class="landing__container">
  <%= render partial: 'shared/products_spacer', locals: {
      header: t('.properties_header'),
      products: @properties,
      link: link_to(t('.properties_link'), properties_path) } %>
</div>

<div class="landing__container">
  <%= render partial: 'shared/products_spacer', locals: {
      header: t('.activities_header'),
      products: @experiences,
      link: link_to(t('.activities_link'), activities_path)
  } %>
</div>
