<% content_for :hero do %>
  <div class="row landing__jumbotron jumbotron justify-content-center">
    <div class="container">
      <h1 class="display-4 landing__headline"><%= t('.header') %></h1>

      <%= form_for PropertySearchForm.new, url: properties_path, method: :get, html: { class: 'landing__search' } do |f| %>
        <div class="form-row align-items-center">
          <div class="col-lg-4">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <i class="input-group-text fa fa-search bg-white"></i>
              </div>
              <%= f.text_field :phrase, class: 'form-control border-left-0', placeholder: t('.search_placeholder') %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <i class="input-group-text bg-white fa fa-calendar"></i>
              </div>
              <%= f.text_field :dates,
                               class: 'form-control border-left-0',
                               placeholder: t('.date_to_placeholder'),
                               data: {
                                   controller: 'date-range-picker',
                                   target: 'date-range-picker.input'
                               }
              %>
            </div>
          </div>
          <div class="col-lg-4">
            <%= f.submit t('.search'), class: 'btn btn-primary btn-lg btn-block text-uppercase' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row landing__odd">
  <div class="landing__container">
    <div class="row">
      <% 1.upto(3) do |i| %>
        <div class="col-lg-4">
          <%= image_tag "landing-image#{i}.svg", class: 'img-fluid landing__info-image' %>
          <h4 class="text-uppercase mb-3 mt-3"><%= t(".detail_header#{i}") %></h4>
          <p class="text-secondary"><%= t(".detail_paragraph#{i}") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="landing__container">
  <%= render partial: 'shared/products_spacer', locals: { header: t('.our_picks'), products: @picks } %>
</div>

<div class="landing__odd">
  <div class="landing__container mb-5">
    <%= render 'shared/locations', locations: @locations %>
  </div>

  <div class="landing__container">
    <%= render 'shared/newsletter' %>
  </div>
</div>

<div class="landing__container">
  <%= render partial: 'shared/products_spacer', locals: {
      header: t('.properties_header'),
      products: @properties,
      link: link_to(t('.properties_link'), properties_path, class: 'text-primary') } %>
</div>

<div class="landing__container">
  <%= render partial: 'shared/products_spacer', locals: {
      header: t('.activities_header'),
      products: @experiences,
      link: link_to(t('.activities_link'), activities_path, class: 'text-primary')
  } %>
</div>
