<div class="row">
  <div class="col">
    <h1><%= t('.header') %></h1>
  </div>
</div>

<div class="row my-5">
  <div class="col-xl-3">
    <%= image_tag @booking_item.product.default_image.thumb.url, class: 'img-fluid' %>
  </div>
  <div class="col-xl-3">
    <h3><%= @booking_item.product.title %></h3>
    <% if @booking_item.room_type %>
      <h5><%= @booking_item.room_type.name %></h5>

      <div class="text-muted">
        <p>
          <%= t('.included') %>
        <ul>
          <% @booking_item.room_type.amenities.first(3).each do |amenity| %>
            <li><%= amenity.name %></li>
          <% end %>
        </ul>
        </p>
      </div>
    <% end %>
  </div>

  <div class="col-xl-4">
    <h2 class="mb-4">
      <span>
        <% if @booking_item.property? %>
          <%= t('.nights_and_persons', nights: @booking_item.nights, persons: @booking_item.guests) %>
        <% else %>
          <%= t('.persons', persons: @booking_item.guests) %>
        <% end %>
      </span>
      <span class="pull-right">
        <%= number_to_currency(@booking_item.price) %>
      </span>
    </h2>
    <div class="text-muted">
      <% if @booking_item.property? %>
        <p>
          <%= t('.check_in', date: @booking_item.checkin_date.strftime('%d/%m/%Y')) %>
        </p>

        <p>
          <%= t('.check_out', date: @booking_item.checkout_date.strftime('%d/%m/%Y')) %>
        </p>
      <% else %>
      <p><%= t('.date', date: @booking_item.date.strftime('%d/%m/%Y')) %></p>
      <% end %>
    </div>
    <%= link_to t('.view_journey'), booking_path, class: 'btn btn-secondary' %>
    <%= link_to t('.checkout'), checkout_booking_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="mt-5">
  <%= render partial: 'shared/products_spacer', locals: {
      header: t('.activities_header'),
      products: @activity_products,
      link: link_to(t('.activities_link'), activities_path)
  } %>
</div>
