<div class="row">
  <div class="col">
    <h1><%= t('.header') %></h1>
  </div>
</div>

<div class="row">
  <table class="table table-responsive">
    <thead>
    <th></th>
    <th></th>
    <th><%= t('.dates') %></th>
    <th><%= t('.guests') %></th>
    <th><%= t('.price') %></th>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.product.default_image.thumb.url, class: 'booking__image-thumb' %></td>
        <td class="booking__title">
          <h5><%= item.product.title %></h5>
          <% if item.room_type %>
            <h6><%= item.room_type.name %></h6>
          <% end %>
        </td>
        <% if item.is_a? BookingItems::Property %>
          <td class="text-muted"><%= t('.dates_html', checkin: l(item.checkin_date.to_date), checkout: l(item.checkout_date.to_date)) %></td>
        <% else %>
          <td class="text-muted"><%= t('.date', date: l(item.checkin_date.to_date)) %></td>
        <% end %>
        <td class="text-muted"><%= item.guests %></td>
        <td class="text-muted">From <%= item.price.format %></td>
        <td>
          <%= link_to t('.remove_from_booking'),
                      booking_booking_item_path(item),
                      method: :delete,
                      class: 'text-danger',
                      data: { confirm: t('.remove_confirmation', title: item.title) } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="checkout-widget">
  <h2 class="mb-4">
    <div><%= t('.total') %>:</div>
      <div>
        <%= t('.nights', count: @booking.nights) %>
      </div>
    <div>From <%= @booking.total.format %></div>
  </h2>
  <%= link_to t('.checkout'), checkout_booking_path, class: 'btn btn-lg btn-block btn-primary' %>
</div>

<%= render partial: 'shared/products_spacer', locals: {
    header: t('.activities_header'),
    products: @activity_products,
    link: link_to(t('.activities_link'), activities_path)
} %>
