<div class="property-booking-component">
  <h5 class="mb-4">
    <span class="booking-component__price"><%= @room_type.price.format %></span> <%= t('booking_component.per_person') %>
  </h5>

  <%= form_with(model: RoomBookingForm.new(room_type_id: @room_type.id, guests: 2), url: booking_booking_items_path, class: 'booking-component__form', data: { controller: 'date-range-picker', remote: false }) do |f| %>
    <%= f.hidden_field :room_type_id %>
    <div class="form-row">
      <div class="form-group col-md-6 m-0">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :date_range_s, t('booking_component.dates'), class: 'font-weight-bold' %>
        <%= f.text_field :date_range_s,
                         placeholder: t('booking_component.placeholder_from'),
                         data: { target: 'date-range-picker.input' },
                         class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :guests, t('booking_component.guests'), class: 'font-weight-bold' %>
      <%= f.number_field :guests,
                         placeholder: t('booking_component.placeholder_guests'),
                         class: 'form-control' %>
    </div>
    <div class="form-row">
      <%= f.submit t('booking_component.submit'), class: 'btn btn-primary btn-lg btn-block btn-gradient' %>
    </div>
  <% end %>

  <div class="booking-component__services">
    <% @property.property_services.each do |service| %>
      <div><i class="booking-component__check fa fa-check"></i><%= service.name %>
      </div>
    <% end %>
  </div>
</div>
