<%= render 'shared/search_pills', url: properties_path %>

<hr/>

<h1 class="mb-5">
  <% if @search_form.filled? %>
    <%= t('.search_results_header') %>
  <% else %>
    <%= t('.header') %>
  <% end %>
</h1>

<div class="products">
  <% @products.each do |product| %>
    <%= render partial: 'shared/product_card', locals: { product: product } %>
  <% end %>
</div>

<%= paginate @products %>
