<% content_for :hero do %>
  <div class="row">
    <%= render partial: 'shared/product_image_carousel', locals: { product: @product } %>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <h4><%= @property.category.name %></h4>
    <h1><%= @product.title %></h1>
    <h4 class="property__data_subheader">
      <span class="property__data"> <%= t('.guests', count: @property.guest_capacity) %></span>
      <span class="property__data"><%= t('.bedrooms', count: @property.bedrooms) %></span>
      <span class="property__data"><%= t('.beds', count: @property.beds) %></span>
      <span class="property__data"><%= t('.baths', count: @property.baths) %></span>
    </h4>
    <p><%= render_markdown @product.description %></p>


    <% if @property.equipments.any? %>
      <div class="property__amenities-container">
        <h3><%= t('.amenities') %></h3>

        <div class="property__amenities">
          <% @property.equipments.each do |equipment| %>
            <div class="property__amenity">
              <span class="float-left"><img src="https://via.placeholder.com/50x50"/></span>
              <span><%= equipment.name %></span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col">
    <%= render partial: 'booking_component', locals: { product: @product, property: @property } %>
  </div>
</div>
