<%= render partial: 'shared/product_image_carousel', locals: { product: @product } %>

<div class="container">
  <article data-controller="text-truncation">
    <h4><%= @property.category.name.upcase %></h4>
    <h1><%= @product.title %></h1>
    <div>
      <div data-target="text-truncation.text" class="text-truncatable">
        <%= render_markdown @product.description %>
      </div>
    </div>
    <button class="btn btn-link text-truncatable__more" data-target="text-truncation.more" data-action="text-truncation#toggle"><%= t('.more') %></button>
    <button class="btn btn-link text-truncatable__less" data-target="text-truncation.less" data-action="text-truncation#toggle"><%= t('.less') %></button>
  </article>

  <hr class="my-5"/>

  <div class="room-types__container">
    <h3 class="mb-4"><%= t('.room_types').upcase %></h3>
    <div>
      <% @property.room_types.order(:guest_capacity).each do |room_type| %>
        <% if room_type != @room_type %>
          <%= link_to property_path(@property.product, room_type_id: room_type.id, anchor: "room-#{room_type.id}"), class: 'room-types__link' do %>
            <%= render 'room_type', room_type: room_type, active: false %>
          <% end %>
        <% else %>
          <%= render 'room_type', room_type: room_type, active: true %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
