<div class="row">
  <div class="col">
    <h2 class="landing__header"><%= t('.heading') %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <%= t('.paragraph') %>
  </div>
  <div class="col-md-7">
    <%= form_with url: 'unimplemented' do |f| %>
      <div class="form-row">
        <div class="col">
          <%= f.text_field :email, placeholder: t('.placeholder'), class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.submit t('.button'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
