<div class="product-card">
  <%= link_to local_assigns[:link] || path_for_product(product) do %>
    <div class="card">
      <div class="badge badge-info product-card__category">
        <%= product.category.name %>
      </div>
      <div class="product-card__thumb-wrapper">
        <img class="card-img-top product-card__thumb" src="<%= product.default_image.thumb.url %>"/>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text">From <%= product.price_from.format %> - Free cancellation</p>
      </div>
    </div>
  <% end %>
</div>
