<div class="row">
  <div class="col">
    <h1>Edit <%= @product.title %></h1>
    <%= link_to t('.back'), admin_products_path %>
    <%= link_to t('.edit_images'), admin_product_product_images_path(@product) %>

    <%= simple_form_for @product, url: admin_product_path(@product), html: { multipart: true } do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :category_id,
                  collection: Category.where(object_type: @product.specific_type),
                  label_method: -> (obj) { obj.name(I18n.locale) },
                  selected: @product.category_id %>

      <%= render partial: @product.specific_type.downcase, locals: { property: @product.specific, form: f } %>

      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to t('.cancel'), admin_products_path %>
    <% end %>
  </div>
</div>

