<%= link_to t('.back'), admin_products_path %>
<% @product.images.each_with_index do |image, idx| %>
  <p>
    Image <%= idx + 1 %>
    <%= image_tag image.thumb.url %>
  </p>
<% end %>

<div class="row">
  <div class="col">
    <h1><%= @product.title %></h1>
    <p><%= @product.description %></p>
  </div>
</div>

<%= render partial: @product.specific_type.downcase, object: @product.specific %>
