<div id="image-carousel" class="row carousel slide">
  <div class="carousel-inner product__image-carousel-inner">
    <% @product.images.each_with_index do |image, idx| %>
      <div class="carousel-item <%= 'active' if idx.zero? %>">
        <img class="d-block w-100" src="<%= image.url %>">
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col">
    <h1><%= @product.title %></h1>
    <p><%= @product.description %></p>
  </div>
</div>

<%= render partial: @product.specific_type.downcase, object: @product.specific %>
