<%= simple_form_for [:admin, @property]  do |f| %>
  <%= f.simple_fields_for :product do |ff| %>
    <%= ff.hidden_field :id %>
    <div class="row">
      <div class="col">
        <%= ff.input :title_en %>
        <%= ff.input :description_en, input_html: { rows: 10 } %>
      </div>
      <div class="col">
        <%= ff.input :title_fr %>
        <%= ff.input :description_fr, input_html: { rows: 10 } %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= ff.association :category, collection: Category.for_class(@property.class.to_s), include_blank: false %>
      </div>
      <%#= f.simple_fields_for :room_types do |fff| %>
<!--        <div class="col">-->
          <%#= fff.input :guest_capacity %>
<!--        </div>-->
<!--        <div class="col">-->
          <%#= fff.input :bedrooms %>
<!--        </div>-->
<!--        <div class="col">-->
          <%#= fff.input :single_beds %>
<!--        </div>-->
<!--        <div class="col">-->
          <%#= fff.input :double_beds %>
<!--        </div>-->
<!--        <div class="col">-->
          <%#= fff.input :baths %>
<!--        </div>-->
      <%# end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= f.association :property_services, as: :check_boxes %>
    </div>
    <div class="col">
      <%= f.association :equipments, as: :check_boxes %>
    </div>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
  <% if @property.new_record? %>
    <%= link_to t('cancel'), admin_properties_path(type: @property) %>
  <% else %>
    <%= link_to t('delete'), admin_property_path(@property),
                method: :delete,
                class: 'text-danger',
                data: { confirm: t('admin.properties.edit.confirm_delete') } %>
  <% end %>
<% end %>
