<div class="bg-dark full-width py-5 mt-neg-5">
  <%= render 'shared/locations', locations: @locations %>
</div>

<%= render partial: 'shared/products_spacer', locals: { header: t('.offers'), products: @sample_offers } %>

<%= render partial: 'shared/focus_section', locals: { presenter: @focus_section_presenter } %>

<%= render partial: 'shared/products_spacer', locals: {
    header: t('landing.index.properties_header'),
    link: link_to(t('landing.index.properties_link'), properties_path),
    products: @properties } %>

<%= render partial: 'shared/products_spacer', locals: {
    header: t('landing.index.activities_header'),
    link: link_to(t('landing.index.activities_link'), activities_path),
    products: @activities
} %>
