<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Karibinn</h5>
        <ul class="list-unstyled">
          <li><%= link_to t('.contact'), '#' %></li>
          <li><%= link_to t('.about_us'), '#' %></li>
          <li><%= link_to t('.partners'), '#' %></li>
          <li><%= link_to t('.newsletter'), '#' %></li>
          <li><%= link_to t('.faq'), '#' %></li>
        </ul>
      </div>

      <div class="col">
        <h5><%= t('.catalog') %></h5>
        <ul class="list-unstyled">
          <li><%= link_to t('nav.destinations'), locations_path %></li>
          <li><%= link_to t('nav.properties'), properties_path %></li>
          <li><%= link_to t('nav.activities'), activities_path %></li>
        </ul>
      </div>

      <div class="col">
        <h5><%= t('.professionals') %></h5>

        <ul class="list-unstyled">
          <li><%= link_to t('.offer'), '#' %></li>
          <li><%= link_to t('.references'), '#' %></li>
        </ul>
      </div>

      <div class="col">
        <h5><%= t('.legal') %></h5>

        <ul class="list-unstyled">
          <li><%= link_to t('.terms'), '#' %></li>
          <li><%= link_to t('.privacy_policy'), '#' %></li>
          <li><%= link_to t('.sitemap'), '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
