<footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h5>Karibinn</h5>
        <ul class="list-unstyled">
<!--          <li><%#= link_to t('.contact'), '#' %></li>-->
          <li><%= link_to t('.about_us'), page_path('about-us') %></li>
<!--          <li><%#= link_to t('.partners'), '#' %></li>-->
<!--          <li><%#= link_to t('.newsletter'), '#' %></li>-->
<!--          <li><%#= link_to t('.faq'), '#' %></li>-->
        </ul>
      </div>

      <div class="col">
        <h5><%= t('.catalog') %></h5>
        <ul class="list-unstyled">
          <li><%= link_to t('nav.destinations'), locations_path %></li>
          <li><%= link_to t('nav.properties'), properties_path %></li>
          <li><%= link_to t('nav.activities'), activities_path %></li>
        </ul>
      </div>

      <div class="col">
        <h5><%= t('.legal') %></h5>

        <ul class="list-unstyled">
          <li><%= link_to t('.privacy_policy'), page_path('privacy-policy') %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
