<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
  <%= link_to image_tag(image_path('logo.png'), alt: 'Karibinn logo'), root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-left">
      <li class="nav-item">
        <%= link_to t('nav.destinations'), locations_path, class: ['nav-link', locations_page? ? 'active' : nil] %>
      </li>
      <li class="nav-item">
        <%= link_to t('nav.properties'), properties_path, class: ['nav-link', property_page? ? 'active' : nil] %>
      </li>
      <li class="nav-item">
        <%= link_to t('nav.activities'), activities_path, class: ['nav-link', activity_page? ? 'active' : nil] %>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <%= language %>
        </a>
        <div class="dropdown-menu">
          <%= link_to 'English', { lang: 'en' }, class: 'dropdown-item' %>
          <%= link_to 'Français', { lang: 'fr' }, class: 'dropdown-item' %>
        </div>
      </li>
      <% if signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%= t('layout.logged_in') %>
          </a>
          <div class="dropdown-menu">
            <%= link_to current_user.email, '#', class: 'dropdown-item' %>
            <% if current_user.admin? %>
              <%= link_to 'Admin', admin_root_path, class: 'dropdown-item' %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to t('layout.logout'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('layout.login'), new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to t('nav.booking'), booking_path, class: ['nav-link', current_page?(booking_path) ? 'active' : nil] %>
      </li>
    </ul>
  </div>
</nav>
