<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Karibinn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'scripts' %>
    <% end %>
  </head>
  <body>
  <%= render 'layouts/nav' %>
    <div class="container-fluid">
      <%= content_for :hero %>
      <main class="<%= 'm-xl-5' unless current_page?(root_path) %>">
        <% unless current_page?(root_path) %>
          <%= render 'shared/flash_messages' %>
        <% end %>
        <%= yield %>
      </main>
    </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
